<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: Whity;
}

h1 {
  color: Black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>WELCOME</h1>
<p>This is web math.</p>

</body>
</html>